/*----- Reusable -----*/
@mixin container-viewport {
  width: 100%;
  height: 100vh;
  padding: 60px;
}

@mixin container-grid-3x3 {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 2fr 2fr;
}

@mixin span-3-columns {
  grid-column-start: 1;
  grid-column-end: 4;
}

@mixin skills-container-format {
  display: grid;

  background-color: white;
  height: 95%;
  width: 95%;
  align-self: center;
  justify-self: center;

  margin: 10px;
  border-radius: 20px;

  list-style-type: none;

  .skills-sub-heading {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: orange;
  }
  li {
    display: inline-flex;
    gap: 10px;
    h4 {
      align-self: center;
      margin: 0;
    }
    img {
      align-self: center;
      width: 30px;
    }
  }
}

.page-heading {
  @include span-3-columns;
  font-family: "Handjet", cursive;
  font-weight: bold;
  font-size: 50px;
  color: white;

  text-align: center;
}

/*----- NAV BAR -----*/

.navbar {
  background-color: black;
  h2 {
    color: white;
  }
}

.nav-options {
  a {
    margin: 0 20px;
    font-weight: bold;
    text-decoration: none;
    color: white;
    &:hover {
      color: violet;
    }
    &:active {
      color: purple;
    }
  }
}

/*----- MAIN LANDING PAGE -----*/

.section-container-main-landing {
  background-color: purple;
  @include container-viewport;
}

#amaan_typewrite {
  font-family: "Handjet", cursive;
  font-size: 80px;

  text-align: center;
}

#amaan_typewrite p {
  color: white;
  display: inline-block;
}

#amaan_typewrite span {
  color: orange;
}

#image-landing-page {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

/*----- MY SKILLS -----*/

#skills-span {
  color: purple;
}

.section-container-skills {
  background-color: orange;
  @include container-viewport;
  .skills-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 3fr 3fr;
    height: 100%;

    .brief-description-container {
      grid-column-start: 1;
      grid-column-end: 4;
      display: grid;
      grid-template-columns: 2fr 5fr;

      background-color: white;

      height: 95%;
      width: 98%;
      align-self: center;
      justify-self: center;

      margin: 10px;
      border-radius: 20px;

      .about-me-main-img {
        width: 200px;
        height: 200px;
        border-radius: 100%;
        border: 2px solid;
        align-self: center;
        justify-self: center;
      }

      .about-me-breakdown-container {
        margin: 0 40px;
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;

        .about-sub-heading {
          font-weight: bold;
          text-decoration: underline;
          text-decoration-color: orange;
          text-align: center;
        }

        .about-me-links {
          font-weight: bold;
          display: flex;
          gap: 10px;
          align-self: center;
          a {
            display: inline-flex;
            width: 150px;
            height: 50px;
            background-color: lightgray;
            border-radius: 5px;
            border: 2px solid;
            text-align: center;
            text-decoration: none;
            color: black;

            &:link {
              color: black;
            }

            &:hover {
              color: orange;
            }

            &:active {
              color: purple;
            }

            p {
              font-weight: bold;
              align-self: center;
              margin: 0px;
            }
            img {
              width: 30px;
              height: 30px;
              align-self: center;
            }
          }
        }
      }
    }

    .front-end-container {
      grid-column-start: 1;
      grid-row-start: 2;
      grid-row-end: 3;

      @include skills-container-format;
    }

    .back-end-container {
      grid-column-start: 2;
      grid-row-start: 2;
      grid-row-end: 3;

      @include skills-container-format;
    }

    .language-container {
      grid-column-start: 3;
      grid-row-start: 2;
      grid-row-end: 3;

      @include skills-container-format;
    }
  }
}

/*----- PROJECTS -----*/

.section-container-projects {
  background-color: fuchsia;
  @include container-viewport;
}

/*----- FOOTER -----*/

footer {
  height: 50vh;
}

@import "../node_modules/bootstrap/scss/bootstrap.scss";
